.send-email-btn {
  margin-left: 3rem;
  border: none;
  cursor: pointer;
  padding: 1.4rem 1.6rem;
  background: #97144d;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: #ffffff;
}
